@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="display-t">
                            <div class="display-tc">
                                <div class="row">
                                    <div class="col-md-8 animate-box">
                                        <h1 class="no-margin">About Us</h1>
                                        <p>INF354-ISP</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        

        <div class="gtco-services gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                        <h2>Our Team</h2>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-carousel-carousel">
                            <div class="item">
                                <div class="gtco-staff">
                                    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/29789873_2054656331523723_7994743333875917170_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeH050847cVYyrjg6aJgaqJvhOGcRBDffmlCAK59hI_NGnHvoTaNp2hB-8SVQBB2xIMJ6MbmMCiGuJ9uq99ZnZgu4DC4uYZrNuUN2He7Xdm8Mg&oh=098045c607985298186cc0ab2fe6fc0c&oe=5B9A4812" max-height="400" alt="" class="img-responsive">
                                    <h2>Christian Wheeler</h2>
                                    <p class="role">u14091268</p>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="gtco-staff">
                                    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t31.0-8/413671_255395481201088_1508172451_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeG449rTVVD-3TcHbN4o23QLvmZ5PyGllECBfyuK2CHHQofpd51cIICZnk-rR7R7dbp2O9ePOl7qYAigXjPXgk_PPfqAlLLA1MDtQwg4xiXoAg&oh=6ef5ec30fada341b3ba0f512f2b26058&oe=5B936A4E" max-height="400" alt="" class="img-responsive">
                                    <h2>Francois Venter</h2>
                                    <p class="role">u14177553</p>
                                    <p> </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="gtco-staff">
                                    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t31.0-8/1399447_10200886273060823_1675902036_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHPGhjs95Athcx78RHh429tXGsli1W8HmK3BALccafU_b0kNKYo5wMYZR8XSN2ZvU3PmONz7JjM4GESsKlbD0E8S8dAKejODccrE245_Gm1mQ&oh=f138ef766d49ceb424f2c49df1107570&oe=5B8EF742" max-height="400" alt="" class="img-responsive">
                                    <h2>Alicia Mulder</h2>
                                    <p class="role">u14283124</p>
                                    <p> </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="gtco-staff">
                                    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/10438277_829756043731494_283869450551366322_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFRqC18IUlYisflxTTV-FTbalUmHuqMhokOMmffSAUnQ2Btmfw1K9K4jIhaTZVwuuExSk2dHZMk_R6BRSiIS1_PHqRaiOj0CfaquCH6YfLJxQ&oh=d004f3fddc3171cf385fa203ff217614&oe=5B9B1266" height="400" alt="" class="img-responsive">
                                    <h2>Peter Msimanga </h2>
                                    <p class="role">u13042352</p>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="gtco-staff">
                                    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t31.0-8/19095501_1440910572622345_2546874429943249732_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeE9Y9SetoFmkBdCvqJ4EXOtvHTqYjX-lS7ab7nSjgzR1BTTm-hJAz-mYM9ogZmL_2tTrpV1GQpn7gW1iGW9gXOiFBrE1Tn_WyWzRzXko23Xeg&oh=75d7bc3cf5c7c819588b66b0afa9fd2d&oe=5B9D8DBB" height="400" alt="" class="img-responsive">
                                    <h2>
                                        Emily Black<h2>
                                            <p class="role">u16081961</p>
                                            <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
